* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div.container {
    margin: 0 auto !important;
    padding: 0 15px;
    width: 100%;
    max-width: 1140px;
}

header.header {
    padding: 4px 0;
    position: relative;
}

div.all-header {
    display: flex;
    text-align: center;
    line-height: 27.2px;
    justify-content: space-between;
    padding: 10px 0px;
}

div.logo {
    padding: 0 15px;
    width: 190px;
}

div.logo h1 {
    color: rgb(77, 77, 77);
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
}

div.logo h1 a {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.4px;
    transition: .3s all;
}

nav.nav {
    padding: 0 15px;
    position: relative;
}

div.logo {
    display: flex;
    justify-content: center;
}

nav.nav ul.menues {
    display: flex;
    padding-left: 40px;
}

nav.nav ul.menues li {
    padding: 10px 8px;
    text-align: center;
}

nav.nav ul.menues li a {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 0px;
    transition: .3s all;
}

nav.nav ul.menues li.active a {
    color: rgb(239, 108, 87);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    transition: .3s all;
}

nav.nav ul.menues li.has-childeren {
    color: rgb(77, 77, 77);
    font-family: 'Poppins', sans-serif;
    padding: 10px 5px;
    text-align: center;
    z-index: 5;
}

nav.nav ul.menues li.has-childeren a {
    color: #000;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    line-height: 27.2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    position: relative;
    transition: .3s all;
    text-align: center;
    z-index: 5;
}

nav.nav ul.menues li.has-childeren ul {
    border-top: solid 2px rgb(239, 108, 87);
    margin-top: 23px;
    position: absolute;
    top: 67px;
    visibility: hidden;
    opacity: 0;
    transition: .2s all;
    width: 200px;
    z-index: 5;
    background-color: #fff;
}

nav.nav ul.menues li.has-childeren:hover ul {
    visibility: visible;
    top: 35px;
    opacity: 1;
}

nav.nav ul.menues li.has-childeren ul li:hover {
    background: #f4f5f9;
    color: #25262a;
}

nav.nav ul.menues li.has-childeren ul li {
    color: rgb(77, 77, 77);
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

nav.nav ul.menues li.has-childeren ul li a {
    width: 100%;
    color: rgb(52, 58, 64);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 27.2px;
    padding: 9px 20px;
    background-color: rgba(0, 0, 0, 0);
}

nav.nav ul.menues li.has-childeren a i {
    font-size: 10px;
    position: absolute;
    top: 15px;
    right: 2px;
}

nav.nav ul.menues li a:hover {
    color: #ef6c57;
}

div.header-logos {
    padding: 0 15px;
    position: relative;
    width: 190px;
    padding-top: 10px;
}

div.header-logos ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

div.header-logos ul li a {
    color: #000;
    font-size: 15px;
    font-weight: 300;
    line-height: 27.2px;
    padding-left: 33px;
    transition: .3s all;
}

div.menu-logo {
    display: none;
    position: relative;
}

div.menu-logo a {
    transition: .3s all;
    color: rgb(0, 0, 0);
}

div.menu-logo a span {
    font-size: 22px;
    font-weight: 500;
    line-height: 33.6px;
    margin-bottom: 8px;
    color: rgb(0, 0, 0);
}

div.swiper-button-prev { 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    transition: .3s all;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
}

div.swiper-button-prev:hover {
    background-color: #000;
}

div.swiper-button-prev::after {
    display: none;
}

div.swiper-button-next {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    transition: .3s all;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.swiper-button-next:hover {
    background-color: #000;
}

div.swiper-button-next::after {
    display: none;
}

                                            /* MAIN-1 */

div.swiper-wrapper div.second-img {
    background-image: url(../img/xhero_bg_2.jpg.pagespeed.ic.AY_mDUVQtn.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(77, 77, 77);
    position: relative;
    display: block;
    min-height: 600px;
    transition: .8s all;
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    z-index: 7;
    background-position: center;
    width: 100%;
}

div.swiper-wrapper div.second-img:active {
    cursor: pointer;
}

div.swiper-wrapper div.first-img:active {
    cursor: pointer;
}

div.swiper-wrapper div.second-img::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0,0,0,.4);
    z-index: 5;
}

div.swiper-wrapper div.first-img::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0,0,0,.4);
    z-index: 5;
}

div.swiper-wrapper div.first-img {
    background-image: url(../img/xhero_bg_1.jpg.pagespeed.ic.XyCHgqdNT-.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(77, 77, 77);
    position: relative;
    display: block;
    width: 100%;
    min-height: 600px;
    transition: .8s all;
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    z-index: 5;
    background-position: center;
}

div.imgs-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    max-width: 760px;
    width: 100%;
}

div.imgs-text div.main1-title h2 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-weight: 300;
    line-height: 96px;
    margin-bottom: 8px;
}

div.imgs-text div.lorem-text p {
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.5);
    font-size: 19.2px;
    font-weight: 300;
    line-height: 28.8px;
    margin-bottom: 48px;
}

div.book-now {
    margin-bottom: 16px;
    line-height: 28.8px;
}

div.book-now a {
    background-color: rgb(239, 108, 87);
    border: 2px solid rgba(0, 0, 0, 0);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 16px 48px;
    transition: 0.15s all;
}

div.book-now a:hover {
    border-color: #fff;
    background: none;
}

                                            /* MAIN-2 */
section.three-boxs {
    padding: 80px 0px;
}

div.boxs {
    display: flex;
    align-items: center;
    margin-top: -150px;
    z-index: 9;
}

div.box {
    position: relative;
    padding: 0 15px;
    max-width: 370px;
    width: calc(100% - 15px);
    z-index: 9;
}

div.box a {
    overflow: hidden;
    transition: .3s all;
    max-width: 349px;
    max-height: 399px;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

div.box a img {
    transform: matrix(1, 0, 0, 1, 0, 0);
    vertical-align: middle;
    transition: .3s all ease-in-out;
    max-height: 399px;
    height: 100%;
    max-width: 100%;
    text-align: center;
    object-fit: cover;
}

div.box a div {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 27.2px;
    transition: .3s all;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

div.box a div h3 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 19.2px;
    font-weight: 400;
    line-height: 23.4px;
    margin-bottom: 8px;
    position: relative;
    text-align: center;
    z-index: 7;
}

div.box a:hover img {
    transform: scale(1.05);
}

div.box a:hover div {
    bottom: 30px;
}

div.box a::after {
    content: "";
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom,transparent 0%,transparent 18%,rgba(0,0,0,.8) 99%,rgba(0,0,0,.8) 100%);
}

                                                /* MAIN-3 */
section.section3 {
    padding: 80px 0px;
}

div.icons-boxs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

div.icon-box {
    max-width: 369px;
    padding: 0 15px;
    position: relative;
    display: flex;
    width: calc(100% - 15px);
    margin-bottom: 24px;
}

div.icon-box span {
    margin-right: 24px;
}

div.icon-box span i {
    color: rgb(239, 108, 87);
    font-size: 44px;
}

div.icon-box div.ib-text h5 {
    font-family: 'Poppins', sans-serif;
    color: rgb(77, 77, 77);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
}

div.icon-box div.ib-text p {
    font-family: 'Poppins', sans-serif;
    color: rgb(77, 77, 77);
    font-size: 16px;
    font-weight: 300;
    line-height: 27.2px;
    margin-bottom: 16px;
}

main a.link {
    margin-bottom: 16px;
    color: rgb(239, 108, 87);
    font-size: 16px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    transition: .3s all;
}

main a.link:hover {
    color: #e43216;
}

                                                /* MAIN-4 */

section.section4 {
    background-color: rgb(248, 249, 250);
    padding-top: 80px;
    position: relative;
}

div.testimonials {
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding: 0 15px;
}

div.testimonials h2 {
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 38.4px;
    margin-bottom: 8px;
}

div.all-slide {
    display: flex;
}

div.swiper-img {
    max-width: 555px;
    width: 100%;
    position: relative;
    padding: 0 15px;
    margin-bottom: 48px;
    line-height: 27.2px;
}

div.swiper-img img {
    max-width: 525px;
    width: 100%;
}

div.swiper-img:active {
    cursor: pointer;
}

div.swiper-texts {
    background-color: #fff;
    margin-left: -100px;
    padding: 48px;
    position: relative;
    max-width: 555px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

div.swiper-texts p {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 34px;
    margin-bottom: 16px;
    max-width: 459px;
    width: 100%;
}

div.swiper-texts p:last-child {
    color: rgb(77, 77, 77);
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
    line-height: 27.2px;
}

div.swiper-texts p a  {
    font-style: normal;
}

div.swiper-buttons {
    display: flex;
    justify-content: center;
    line-height: 51px;
    position: relative;
    flex-direction: row-reverse;
}

div.swiper-buttons div {
    padding: 20px;
    cursor: pointer;
}

div.swiper-buttons i {
    color: rgb(77, 77, 77);
    font-size: 23px;
    line-height: 30px;
}

                                                /* MAIN-5 */

section.section5 {
    padding: 80px 0px;
}

div.title-subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 15px;
    position: relative;
}

div.title-subtitle h2 {
    color: #000;
    font-size: 32px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    line-height: 38.4px;
    margin-bottom: 8px;
}

div.title-subtitle p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 16px;
    line-height: 27.2px;
}


                                                /* MEDIA'S */

@media screen and (max-width: 1200px) {
    nav.nav {
        display: none;
    }
    
    div.header-logos ul  {
        display: none;
    }
    
    div.header-logos div.menu-logo {
        display: inline-block;
    }
}

@media screen and (max-width: 992px) {
    div.imgs-text div.main1-title h2 {
        font-size: 32px;
        line-height: 48px;
    }
    
    div.imgs-text {
        max-width: 480px;
    }
    
    div.boxs {
        flex-wrap: wrap;
    }
    
    div.box {
        margin-bottom: 24px;
    }
    
    div.icons-boxs {
        flex-wrap: wrap;
    }
    
    div.all-slide {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    div.swiper-texts {
        margin: 0px;
    }
}

@media screen and (max-width: 769px) {
    div.boxs {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    div.icons-boxs {
        flex-direction: column;
        padding: 0px;
    }
    
    div.icon-box {
        padding: 0px;
    }
    
    div.swiper-texts {
        padding: 0px 15px;
    }
}

























